In [ ]:
# Author: Carlos M. Figueroa Palomino
# Date: 3/22/2023
# Description: Python code that populates a list of numbers between 10 and 50 with a lenght equal to the user's entry and then adds up all the list's elements.

In [1]:
import numpy as np

In [2]:
def random_list(list):
  rlist = np.random.randint(10,50,n)
  return rlist

def sum_random (list):
  return sum(list)

In [4]:
n =int(0)

while n < 5 or n > 15:
  n = int(input("Enter some integer between 5 and 15: "))

Enter some integer between 5 and 15: 4
Enter some integer between 5 and 15: 16
Enter some integer between 5 and 15: 10

In [5]:
MyList = random_list(n)
MyList

array([23, 11, 12, 39, 42, 43, 18, 10, 36, 37])

In [6]:
MySum = sum_random(MyList)
MySum

271